body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #292929;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

p {
    color: #ff0101;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box {
    width: 50px;
    height: 100px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 5px;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
