body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.line {
  width: 80%;
  height: 2px;
  background-color: #bbbbbb;
  position: relative;
}
